body {
    background: #7f7f7f;
    margin: 0;
}
h1,h2,h3,h4,a,p,li {
    color: rgb(33, 26, 26);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

